.category-title{
  color: white;
  background-color: rgb(83, 83, 83);
  border-radius: 0 0 10px 15px;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  box-shadow: 0px 10px 15px -3px rgba(156,156,156,1);

}

.card-text {
  font-size: 20px;
  font-weight: 500;
  color: grey;
}

.card-item-price {
  background: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  border: solid #a7a1a1 5px;
  padding: 5px 20px;
}

.item-card {
  border: solid red;
}

.card:hover {
  box-shadow: 0px 0px 10px 0px rgba(186, 186, 186, 1);
  transition: all 0.3s;
}